<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <title th:text="${article.title}">Article</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{layout/base :: header}"></div>
<main class="container">
    <h1 th:text="${article.title}"></h1>
    <div class="text-muted mb-3" th:text="${article.publishedDate}"></div>
    <div th:utext="${contentHtml}"></div>
</main>
</body>
</html>
